In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as sts
import numpy as np

In [2]:
# Create a reference the CSV file desired
csv_path = "houston_data.csv"

# Read the CSV into a Pandas DataFrame
houston_df = pd.read_csv(csv_path)

# Print the first five rows of data to the screen
houston_df.head()

,Location Number,Location Name,Location Address,Location City,Location State,Location Zip,Location County,Inside/Outside City Limits,Liquor Receipts,Wine Receipts,Beer Receipts,Cover Charge Receipts,Total Receipts
0,1,BEER MARKET CO,920 STUDEMONT ST STE 900,HOUSTON,TX,77007,101,Y,26664,4825,69957,0,101446
1,2,PRESIDIO,911 W 11TH ST,HOUSTON,TX,77008,101,Y,37824,37136,13945,0,88905
2,1,DADDY O'S SPORT BAR,5830 SPENCER HWY,PASADENA,TX,77505,101,Y,8542,150,9845,0,18537
3,1,CRAZY FROGS BAR AND GRILL,13703 WEST RD,HOUSTON,TX,77041,101,N,33016,825,26071,0,59912
4,1,DON PATRON BAR & GRILL,500 DALLAS ST STE P50,HOUSTON,TX,77002,101,Y,5065,372,4465,0,9902

In [7]:
#Determine the mean of the individual receipt types

liquor_df = houston_df.groupby('Location City', as_index=False)['Liquor Receipts'].mean()
liquor_df

   Location City  Liquor Receipts
0        CYPRESS     14840.845131
1        HOUSTON     20774.753761
2      HOUSTON N         0.000000
3           KATY     16145.227611
4    LEAGUE CITY     15534.427777
5       PASADENA     12418.684161
6       PEARLAND     14065.846773
7  SOUTH HOUSTON      5469.924703
8     SUGAR LAND     18173.236787

In [8]:
#Determine the mean of the individual receipt types

wine_df = houston_df.groupby('Location City', as_index=False)['Wine Receipts'].mean()
wine_df

   Location City  Wine Receipts
0        CYPRESS    2981.802732
1        HOUSTON    8819.389364
2      HOUSTON N       0.000000
3           KATY    3799.405065
4    LEAGUE CITY    1964.480721
5       PASADENA     737.874738
6       PEARLAND    2740.405074
7  SOUTH HOUSTON      74.257596
8     SUGAR LAND    6454.852076

In [9]:
#Determine the mean of the individual receipt types

beer_df = houston_df.groupby('Location City', as_index=False)['Beer Receipts'].mean()
beer_df

   Location City  Beer Receipts
0        CYPRESS   10407.036342
1        HOUSTON   11856.181282
2      HOUSTON N       0.000000
3           KATY   11023.393092
4    LEAGUE CITY    9532.023787
5       PASADENA   10859.263588
6       PEARLAND    7642.496635
7  SOUTH HOUSTON    9940.319683
8     SUGAR LAND   10905.608304

In [19]:
#Create a new summary dataframe
babysteps_df = pd.merge(liquor_df, wine_df, on="Location City")
babysteps_df

   Location City  Liquor Receipts  Wine Receipts
0        CYPRESS     14840.845131    2981.802732
1        HOUSTON     20774.753761    8819.389364
2      HOUSTON N         0.000000       0.000000
3           KATY     16145.227611    3799.405065
4    LEAGUE CITY     15534.427777    1964.480721
5       PASADENA     12418.684161     737.874738
6       PEARLAND     14065.846773    2740.405074
7  SOUTH HOUSTON      5469.924703      74.257596
8     SUGAR LAND     18173.236787    6454.852076

In [20]:
avg_df = pd.merge(babysteps_df, beer_df, on="Location City")
avg_df

   Location City  Liquor Receipts  Wine Receipts  Beer Receipts
0        CYPRESS     14840.845131    2981.802732   10407.036342
1        HOUSTON     20774.753761    8819.389364   11856.181282
2      HOUSTON N         0.000000       0.000000       0.000000
3           KATY     16145.227611    3799.405065   11023.393092
4    LEAGUE CITY     15534.427777    1964.480721    9532.023787
5       PASADENA     12418.684161     737.874738   10859.263588
6       PEARLAND     14065.846773    2740.405074    7642.496635
7  SOUTH HOUSTON      5469.924703      74.257596    9940.319683
8     SUGAR LAND     18173.236787    6454.852076   10905.608304