In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as sts
import numpy as np
%matplotlib notebook

In [2]:
# Create a reference the CSV file desired
csv_path = "clean_houston_data.csv"

# Read the CSV into a Pandas DataFrame
clean_df = pd.read_csv(csv_path)

# Print the first five rows of data to the screen
clean_df.head()

,Location Number,Location Name,Location Address,Location City,Location State,Location Zip,Location County,Inside/Outside City Limits,Liquor Receipts,Wine Receipts,Beer Receipts,Cover Charge Receipts,Total Receipts
0,1,BEER MARKET CO,920 STUDEMONT ST STE 900,HOUSTON,TX,77007,101,Y,26664,4825,69957,0,101446
1,2,PRESIDIO,911 W 11TH ST,HOUSTON,TX,77008,101,Y,37824,37136,13945,0,88905
2,1,DADDY O'S SPORT BAR,5830 SPENCER HWY,PASADENA,TX,77505,101,Y,8542,150,9845,0,18537
3,1,CRAZY FROGS BAR AND GRILL,13703 WEST RD,HOUSTON,TX,77041,101,N,33016,825,26071,0,59912
4,1,DON PATRON BAR & GRILL,500 DALLAS ST STE P50,HOUSTON,TX,77002,101,Y,5065,372,4465,0,9902

In [3]:
# Breakdown by city
clean_df['Location City'].value_counts()

HOUSTON          310252
KATY              18123
SUGAR LAND        12885
PEARLAND           9065
PASADENA           8574
CYPRESS            8420
LEAGUE CITY        5213
SOUTH HOUSTON      1514
Name: Location City, dtype: int64

In [4]:
#Total Number of entities

total_count = len(clean_df["Location City"])
total_count

total_count_df = pd.DataFrame({"Total TABC Entities": [total_count]})
total_count_df

   Total TABC Entities
0               374046

In [5]:
#citybreakdown

percent_df = clean_df['Location City'].value_counts("HOUSTON")
percent_df

HOUSTON          0.829449
KATY             0.048451
SUGAR LAND       0.034448
PEARLAND         0.024235
PASADENA         0.022922
CYPRESS          0.022511
LEAGUE CITY      0.013937
SOUTH HOUSTON    0.004048
Name: Location City, dtype: float64

In [10]:
total_count_all = percent_df*100
total_count_all.sort_values(ascending=False)

HOUSTON          82.944878
KATY              4.845126
SUGAR LAND        3.444763
PEARLAND          2.423499
PASADENA          2.292231
CYPRESS           2.251060
LEAGUE CITY       1.393679
SOUTH HOUSTON     0.404763
Name: Location City, dtype: float64

In [19]:

cities = ['HOUSTON','KATY', 'SUGAR LAND', 'PEARLAND', 'PASADENA', 'CYPRESS', 'LEAGUE CITY', 'SOUTH HOUSTON'] 
percent_count = [82.944878, 4.845126, 3.444763, 2.423499, 2.292231, 2.251060, 1.393679, 0.404763 ] 
  
city_series = pd.Series(cities) 
percent_series = pd.Series(percent_count) 
  
frame = { 'Location City': city_series, '% of TABC Entities': percent_series } 
  
TABC_counts = pd.DataFrame(frame) 
  
print(TABC_counts)

   Location City  % of TABC Entities
0        HOUSTON           82.944878
1           KATY            4.845126
2     SUGAR LAND            3.444763
3       PEARLAND            2.423499
4       PASADENA            2.292231
5        CYPRESS            2.251060
6    LEAGUE CITY            1.393679
7  SOUTH HOUSTON            0.404763