In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as sts
import numpy as np
%matplotlib notebook

In [2]:
# Create a reference the CSV file desired
csv_path = "clean_houston_data.csv"

# Read the CSV into a Pandas DataFrame
clean_df = pd.read_csv(csv_path)

# Print the first five rows of data to the screen
clean_df.head()

,Location Number,Location Name,Location Address,Location City,Location State,Location Zip,Location County,Inside/Outside City Limits,Liquor Receipts,Wine Receipts,Beer Receipts,Cover Charge Receipts,Total Receipts
0,1,BEER MARKET CO,920 STUDEMONT ST STE 900,HOUSTON,TX,77007,101,Y,26664,4825,69957,0,101446
1,2,PRESIDIO,911 W 11TH ST,HOUSTON,TX,77008,101,Y,37824,37136,13945,0,88905
2,1,DADDY O'S SPORT BAR,5830 SPENCER HWY,PASADENA,TX,77505,101,Y,8542,150,9845,0,18537
3,1,CRAZY FROGS BAR AND GRILL,13703 WEST RD,HOUSTON,TX,77041,101,N,33016,825,26071,0,59912
4,1,DON PATRON BAR & GRILL,500 DALLAS ST STE P50,HOUSTON,TX,77002,101,Y,5065,372,4465,0,9902

In [3]:
# Create a reference the CSV file desired
pop_path = "population.csv"

# Read the CSV into a Pandas DataFrame
pop_df = pd.read_csv(pop_path)

# Print the first five rows of data to the screen
pop_df.head()

   Rank Location City 2019 Census Estimates 2010 Census % Change
0     1       Houston             2,325,502   2,099,451   10.77%
1     2   San Antonio             1,532,233   1,327,407   13.90%
2     3        Dallas             1,345,047   1,197,816   12.29%
3     4        Austin               964,254     790,390   22.00%
4     5    Fort Worth               895,008     741,206   20.75%

In [7]:
#Python String Methods: str(), upper(), lower(), count(), find(), replace() & len()


cities = ['Houston','South Houston', 'Katy', 'League City', 'Pasadena','Pearland','Sugar Land', 'Cypress']
pop1_df = pop_df.loc[pop_df['Location City'].isin(cities)]

In [8]:
pop1_df.head(10)

    Rank Location City 2019 Census Estimates 2010 Census % Change
0      1       Houston             2,325,502   2,099,451   10.77%
18    19      Pasadena               153,219     149,043    2.80%
28    29      Pearland               122,149      91,252   31.44%
30    31    Sugar Land               118,600      78,817   50.48%
36    37   League City               106,244      83,560   25.54%

In [4]:
liquor_df = clean_df.groupby('Location City', as_index=False)['Liquor Receipts'].sum()
liquor_df.sort_values(by=['Liquor Receipts'])

   Location City  Liquor Receipts
6  SOUTH HOUSTON          8281466
3    LEAGUE CITY         80980972
4       PASADENA        106477798
0        CYPRESS        124959916
5       PEARLAND        127506901
7     SUGAR LAND        234162156
2           KATY        292599960
1        HOUSTON       6445408904